body {
  background-color: rgb(67, 67, 67);
  s
}
h1 {color: white; text-align:center;}
h2 {color: white;}

ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 5px;
}
ul.inner {padding-left: 25px;}

li {
  font-family: "lucida console", monospace;
  font-size: 14px;
  text-decoration: none;
}
li.heirloom {color: rgb(140, 115, 190);}
li.loot {color: rgb(250, 250, 0);}
li.scouting {color: rgb(100, 255, 75);}
li.buff {color: rgb(255, 180, 100);}
li.summon {color: rgb(200, 125, 160);}
li.negative {color: rgb(255, 80, 65);}
li.positive {color: rgb(75, 180, 255);}
li.nothing {color: rgb(200, 200, 200);}
li.null {color: rgb(100, 100, 100);}

table {table-layout: fixed; width: 100%;}
th.leftcol {width: 5%;}

table, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  background-color: rgb(100, 100, 100);
  color: rgb(200, 200, 200);
  text-align: center;
}
td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: rgb(67, 67, 67);
  color: rgb(200, 200, 200);
  vertical-align: top;
  margin: 0px;
  text-align:left;
}
td.curioimg {text-align: center;}

img {height: 100%; max-height: 100px;}
img.item {
  max-height: 40px;
  float: left;
  vertical-align: middle;
}