/***** GENERAL *****/

body {background: rgb(67, 67, 67) url("ancestor.png") no-repeat right fixed;}
h1 {
  color: rgb(200, 200, 200);
  text-align:center;
  font-size: 80px;
}
p {
  font-family: "Lucida console", Monaco, monospace;
  font-size: 14px;
  padding-left: 5px;
  margin: 0px;
}

/***** MENU *****/

#menu {width: 600px;}
#menu-tabs {
  display:flex;
  flex-direction: row-reverse;
  flex-wrap: flex-nowrap;
  justify-content: flex-justify-between;
  position: relative;
  white-space: nowrap;
  margin: auto;
}
li {
	position: relative;
	display: inline-block;
	padding: 20px 20px 10px;
	margin: 0 -7px;
}
li::before {
	content: '';
   position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -1;
	border: 1px solid black;
   border-bottom: none;
	border-radius: 10px 10px 0 0;
	background: rgb(160, 160, 120);
	transform: perspective(5px) rotateX(2deg);
  	transform-origin: bottom;
}
li:hover::before {
   background: white;
}
#selected {
	z-index: 2;
}
#selected::before {
	background: rgb(255, 255, 100);
	border: 1px solid black;
	margin-bottom: -1px;
	border-top-width: 1px;
}

/***** PARAGRAPHS *****/

.heirloom {color: rgb(140, 115, 190);}
.loot {color: rgb(250, 250, 0);}
.scouting {color: rgb(100, 255, 75);}
.buff {color: rgb(255, 180, 100);}
.summon {color: rgb(200, 125, 160);}
.negative {color: rgb(255, 80, 65);}
.positive {color: rgb(75, 180, 255);}
.nothing {color: rgb(200, 200, 200);}
.null {color: rgb(100, 100, 100); font-style: italic; font-weight: bold;}
.indent {padding-left: 30px;}
.item-interaction p {margin-bottom: 10px;}

/***** TABLE *****/

.table {overflow-x: auto; margin: 0 5px;}
table {table-layout: fixed;}
table, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  background-color: rgb(100, 100, 100, 0.8);
  color: rgb(200, 200, 200);
  text-align: center;
}
td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: rgb(67, 67, 67, 0.8);
  color: rgb(200, 200, 200);
  vertical-align: top;
  margin: 0px;
  text-align:left;
  min-width: 300px;
}
.leftcol {width: 100px}

.curioimg {text-align: center;}
img {
  height: 100%;
  max-height: 100px;
}
.item {
  height: 50px;
  vertical-align: middle;
}
.item-interaction {
  display: flex;
  align-items: center;
}