body {
  background-color: rgb(67, 67, 67);
  background-image: url("ancestor.png");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
}
h1 {
  color: white;
  text-align:center;
  font-size: 80px;
}
h2 {color: white;}

p {
  font-family: "lucida console", monospace;
  font-size: 14px;
  padding-left: 5px;
  text-decoration: none;
  margin: 0px;
}
p.indent {padding-left: 30px;}
.item-interaction {
  display:flex;
  align-items:center;
}

p.heirloom {color: rgb(140, 115, 190);}
p.loot {color: rgb(250, 250, 0);}
p.scouting {color: rgb(100, 255, 75);}
p.buff {color: rgb(255, 180, 100);}
p.summon {color: rgb(200, 125, 160);}
p.negative {color: rgb(255, 80, 65);}
p.positive {color: rgb(75, 180, 255);}
p.nothing {color: rgb(200, 200, 200);}
p.null {color: rgb(100, 100, 100); font-style: italic;}

table {table-layout: fixed; width: 100%;}
.leftcol {width: 5%;}

table, tbody, tr, th, td {
    background-color: rgba(0, 0, 0, 0.0);}
table, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  background-color: rgb(100, 100, 100, 0.8);
  color: rgb(200, 200, 200);
  text-align: center;
}
td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: rgb(67, 67, 67, 0.8);
  color: rgb(200, 200, 200);
  vertical-align: top;
  margin: 0px;
  text-align:left;
}

td.curioimg {text-align: center;}

img {
  height: 100%;
  max-height: 100px;
}
img.item {
  height: 50px;
  vertical-align: middle;
}